/* Шрифт Raleway */
@font-face {
	font-family: Raleway;
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
	font-display: swap;
}

/* Шрифт Rubik */
@font-face {
	font-family: Rubik;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
	font-display: swap;

}

@font-face {
	font-family: Rubik;
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
	font-display: swap;

}

@font-face {
	font-family: Rubik;
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
	font-display: swap;
}

html {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: Rubik, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	background-color: #ffffff;
}

/* Хедер */

.page-header {
	margin: 40px auto;
	background-color: #FFE17F;
	color: #000000;
	width: 1160px;
}

.page-header-container {
	padding: 0 60px;
}

.logo {
	display: block;
	margin-top: -23px;
	width: 145px;
}

.upper-menu {
	margin-top: 30px;
	display: flex;
	align-items: center;
}

.search {
	border: 2px solid #000000;
	border-radius: 50px;
	width: 500px;
	height: 40px;
	text-align: center;
}

.user-menu {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin-left: 20px;
}

.navigation-item {
	list-style: none;
}

.user-menu .navigation-link {
	color: inherit;
	text-decoration: none;
}

.user-menu .navigation-item:nth-child(2) {
	margin-left: 244px;
}

.user-menu .navigation-item:nth-child(3) {
	margin-left: 60px;
}

.navigation-link-user {
	color: #000000;
	text-decoration: none;
}

.navigation-link-login {
	color: #000000;
	opacity: 0.3;
	text-decoration: none;
}

.navigation {
  margin: 0 auto;
	margin-top: 30px;
	padding-bottom: 136px;
}

.page-header-catalog .navigation {
  margin: 0 auto;
	margin-top: 30px;
	padding-bottom: 38px;
}

.navigation-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	color: #000000;
}

.navigation-catalog-group {
	list-style: none;
}

.navigation-catalog-link-main {
	font-family: Raleway, sans-serif;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.2em;
	text-decoration: none;
	color: inherit;
	margin-right: 235px;
}

.navigation-catalog-link {
	text-decoration: none;
	color: inherit;
	display: none;
}

.navigation-catalog {
}

.catalog-nav-item {
	list-style: none;
}

.navigation-item .navigation-catalog-link, .navigation-main .navigation-link {
	font-family: Raleway, sans-serif;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.2em;
	color: inherit;
	text-decoration: none;
}

/* Слайдер */

.slider {
}
.slider-wrapper {
	display: flex;
	justify-content: center;
	margin-top: -153px;
}
.slide-1 {
	display: flex;
}

.slider-content-wrapper {
	display: flex;
	flex-direction: column;
}

.slide-2 {
	display: none;
}

.slide-3 {
	display: none;
}

.slider-button {
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: left;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	margin-bottom: 60px;
}

.slider-button a {
	order: 1;
}
.slider-prev {
	height: 60px;
	width: 20px;
	align-self: center;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.slider-image-1 {
}

.slider-next {
	height: 60px;
	width: 20px;
	align-self: center;
}
.slider-name {
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	margin-bottom: 30px;
}
.slider-description {
	color: #444444;
	margin-bottom: 50px;
}
.slider-advantages {
}
.slider-advantages-top {
	font-size: 36px;
}

.slider-advantages td:nth-child(2) {
	padding-right: 200px;
}


.slider-advantages-bottom {
	font-size: 16px;
	color: #444444;
}
.slider-image-2 {
}
.slider-image-3 {
}
.slider-pagination {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}
.slider-pagination-item {
	margin-right: 0px;
}
.slider-pagination-button {
	display: inline-block;
	margin-right: 20px;
	background: #00000000;
	border: 2px solid #000000;
	width: 12px;
	height: 12px;
	border-radius: 50%;
}
.slider-pagination-button-current {
	display: inline-block;
	margin-right: 20px;
	background: #000000;
	border: 2px solid #000000;
	width: 12px;
	height: 12px;
	border-radius: 50%;
}

.main-container {
	flex-grow: 1;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

/* Категории */

.products {
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	margin: 70px 0;
}

.products-pictures {
	display: flex;
}

.product-block-1 {
	background-color: #FFE17F;
	width: 160px;
	height: 160px;
	margin-right: 40px;
	margin-bottom: 32px;
}

.product-block-1:last-child {
	margin-right: 0px;
}

.products-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}
.products-item {
	list-style: none;
	width: 160px;
	margin-right: 40px;
}

.products-item:last-child {
	margin-right: 0;
}

/* Сервисы */

.services {
	background: #F0F0F0;
	height: 290px;
}

.services-wrapper {
	display: flex;
	justify-content: space-evenly;
}

.services-tabs {
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.2em;
	text-transform: uppercase;

	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	justify-content: space-evenly;
}
.services-tab-item-current {
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	color: #FFE17F;
	background-color: #000000;
	padding: 10px;
	list-style: none;
	margin-bottom: 46px;
}

.services-tab-item {
	list-style: none;
	margin-bottom: 46px;
}

.services-tab-item:last-child {
	margin-bottom: 0;
}

.services-tab-item-link {
}
.services-tabs-content {
}

.services-tab-content {
	list-style: none;
}
.services-tab-content:nth-child(2) {
	list-style: none;
	display: none;
}
.services-tab-content:nth-child(3) {
	list-style: none;
	display: none;
}
.services-content-title {
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	margin: 0;
	margin-bottom: 34px;
}
.services-content-description {
	color: #444444;
	margin: 0;
}
.services-content-image {
}

/* О компании */

.company {
	margin-top: 70px;
}

.company-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background:#F0F0F0;
	height: 100px;
	margin-bottom: 70px;
}
.company-header-icon {
	background-color: #FFE17F;
	width: 125px;
	height: 100px;
}

.company-decoration-line {
	margin-bottom: 40px;
	width: 84px;
	height: 8px;
	background-color: #000;
}

.company-header-title {
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin: 0;
}
.company-info {
}

.company-wrapper {
	display: flex;
	justify-content: space-between;
}

.company-about {
	display: flex;
	flex-direction: column;
	width: 520px;
	align-content: space-between;
}
.company-about-title {
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	margin: 0 0 48px 0;
}
.company-about-description-1 {
	color: #444444;
	margin: 0 0 30px 0;
}
.company-about-description-2 {
	color: #444444;
	margin: 0 0 30px 0;
}
.company-about-delivery {
	font-weight: 700;
	line-height: 20px;
	margin: 0 0 40px 0;
	padding: 0;
}
.company-about-delivery-item {
	list-style: none;
	margin-left: 38px;
	margin-bottom: 20px;
}

.company-about-delivery-item:nth-child(3) {
	margin-bottom: 0px;
}

.company-about-button {
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}
.company-contacts {
	display: flex;
	flex-direction: column;
	width: 530px;
}
.company-contacts-title {
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	margin: 0 0 48px 0;
}
.company-contacts-description {
	color: #444444;
	margin: 0 0 30px 0;
}
.company-contacts-companyname {
	font-weight: 700;
	font-size: 24px;
	margin: 0 0 15px 0;
}
.company-adress {
	margin-bottom: 30px;
}

.contacts-adress-text {
	color: #444444;
	margin: 0;
}

.contacts-phone {
	font-style: normal;
	color: #444444;
}

.company strong {
	font-weight: 700;
	font-size: 24px;
}

.contacts-schedule {
	color: #444444;
	list-style: none;
	padding: 0;
	margin: 0 0 40px 0;
}
.company-contacts-button {
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	margin-bottom: 80px;
}

/* Рассылка */

.mailing {
	background: #F0F0F0;
	position: relative;
	width: 100%;
}

.mailing-wrapper {
	display: flex;
	width: 1160px;
	margin: 0 auto;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 64px;
}

.mailing-title {
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	margin: 0;
}
.mailing-subscription {
}
.mailing-email-feild {
}

.mailing-lower-section {
	display: flex;
	width: 1160px;
	justify-content: center;
	margin-top: 144px;
	margin-bottom: 74px;
}

.mailing-text {
	color: #444444;
	margin: 0;
}
.mailing-subscription-button {
}
.mailing-checkbox {
}
.mailing-free {
	color: #444444;
}

/* Футер */

.page-footer {
	background: #444444;
}

.footer-logo-wrapper {
	padding-top: 62px;
}

.page-footer-wrapper {
	display: flex;
	align-items: center;
	width: 1160px;
	justify-content: space-between;
}

.footer-left-section {
	width: 250px;
}
.footer-logo {
}
.footer-adress {
}

.footer-address-text {
	font-style: normal;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
}

.footer-contacts {
	width: 444px;
}
.footer-contacts-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}
.footer-contacts-item {
	list-style: none;
	padding-right: 10px;
}
.footer-contacts-link {
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
	width: 450px;
}

.footer-social-lower-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1160px;
	padding-bottom: 62px;
}

.footer-decorative {
	width: 80px;
	height: 8px;
	background-color: #ffc500;
}

.footer-social {
}

.footer-social ul {
	display: flex;
	padding: 0;
	margin: 0;
}

.footer-right-section {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.footer-button {
	color: rgba(255, 255, 255, 0.3);
}
.footer-contacts-phone {
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}
.about-text {
}
.htmlacademy-link {
	color: #FFC700;
	text-decoration: none;
}

/* Разметка второй страницы */

.main-inner {
	background-color: #F0F0F0;
}

/* Хлебные крошки */

.breadcrumbs-wrapper {
	background-color: #ffffff;
	padding-bottom: 36px;
}

.inner-header-container {
	width: 1160px;
	margin: 0 auto;
	padding-left: 120px;
}

.inner-header-title {
	font-family: Raleway;
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	margin: 0 0 16px 0;
	padding: 0;
}

.breadcrumbs {
	font-size: 16px;
	line-height: 19px;
	list-style: none;
	
	display: flex;
	margin: 0;
	padding: 0;
}
.breadcrumbs-item {
	margin-right: 36px;
}

.breadcrumbs-link {
	color: #000000;
	text-decoration: none;
}

.catalog-products {
	display: flex;
}

/* Хедер с фильтром и сортировкой */

.catalog-header {
	display: flex;
	align-items: center;
	height: 70px;
	width: 1160px;
	margin: 0 auto;
	padding-left: 120px;
}

.filter-title-wrapper {
	width: 300px;
}

.filter-title {
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

.sorting-wrapper {
	display: flex;
	justify-content: space-between;
	width: 760px;
}

.sorting-title {
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.sorting-control {	
}

.sorting-buttons {
	list-style: none;
	margin: 0;
	padding: 0;
}
.sorting-button-up {
}
.sorting-button-link {
}

.sorting-button-down {
}

/* Фильтр слева */

.catalog-filter {
	width: 320px;
}
.catalog-filter-group {
}

.catalog-filter-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -0.02em;
}
.range-toggle {
}
.toggle-min {
}

.toggle-max {
}
.catalog-filter-label {
	font-size: 15px;
	line-height: 18px;
	opacity: 0.3;
}
.catalog-filter-input {
	font-size: 15px;
	line-height: 18px;
	text-align: center;
}
.catalog-filter-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.catalog-filter-item {
}
.control {
}
.control-input {
}
.control-mark {
}
.control-label {
	font-size: 16px;
	line-height: 19px;
}
.catalog-filter-button {
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

/* Каталог товаров */

.catalog-right-column {

}

.products-wrapper {
	background-color: #FFFFFF;
	padding-top: 70px;
}

.product-list {
	display: grid;
	grid-template-columns: 360px 360px;
	justify-content: center;
	gap: 40px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.product-card {
	display: flex;
	flex-direction: column;
}

.product-card-content {
	display: flex;
	justify-content: space-between;
	margin-top: 32px;

}
.product-card-link {
}
.product-card-image {
	object-fit: cover;
}
.product-card-title-link {
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -0.02em;
	text-decoration: none;
	color: #000000;

	margin: 0;
}
.product-card-title {
	font-size: 18px;
	margin: 0;
}
.product-card-price {
	line-height: 21px;
	color: #444444;
}
.pagination-show-more {
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.2em;
	text-transform: uppercase;

	width: 760px;
	height: 55px;
	background-color: #ffffff;
	border: 3px solid #EBEBEB;
}

/* Пагинация */

.pagination-container {
	display: flex;
	padding: 44px 40px 78px 40px;
	width: 760px;
}

.pagination {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	background-color: #EBEBEB;
	margin: 0;
	padding: 16px 25px;
	width: 760px;
}
.pagination-item {
}

.pagination-items-wrapper {
	display: flex;
}

.pagination-items-wrapper .pagination-item, .pagination-items-wrapper .pagination-item-ellipsis {
	display: flex;
	width: 40px;
	height: 40px;
	justify-content: center;
	align-items: center;
	padding: 0px;
}

.pagination-link {
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	opacity: 0.3;
}
.pagination-prev {
	opacity: 1;
}
.pagination-disabled {
}
.pagination-word {
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}
.pagination-item-ellipsis {
}
.pagination-next {
	opacity: 1;
}